.conteiner-form {
  background: linear-gradient(30deg, green 10%, greenyellow 100%);
  border-radius: 10px;
  height: 25rem;
  left: 50%;
  min-width: 30rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

h2 {
  font-size: 2rem;
  text-align: center;
}

.conteiner-form form {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.conteiner-form label {
  align-items: center;
  display: flex;
  font-size: 1.25rem;
  justify-content: space-between;
  width: 100%;
}

.conteiner-form input {
  border: none;
  border-radius: 5px;
  font-size: 1.25rem;
  outline: none;
  padding: 0.3rem;
  width: 70%;
}

.conteiner-form button {
  background: rgb(0, 100, 22);
  border: none;
  border-radius: 10px;
  font-size: 1.25rem;
  font-weight: 900;
  margin-top: 2rem;
  padding: 0.7rem;
  transition: ease-in-out 0.3s;
  width: 80%;
}
