body {
  box-sizing: border-box;
}

.conteiner-form {
  align-items: center;
  background: #eee;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 25rem;
  left: 50%;
  min-width: 40rem;
  padding: 2rem 0 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.conteiner-form form {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  padding: 2rem;
  width: 100%;
}

.conteiner-form input {
  border: none;
  border-radius: 5px;
  font-size: 1.25rem;
  outline: rgba(0, 59, 229, 1) 1px solid;
  padding: 0.8rem;
  width: 70%;
}

.conteiner-form input::placeholder {
  color: rgba(0, 59, 229, 1);
}

.conteiner-form button {
  background: rgba(0, 59, 229, 1);
  border: none;
  border-radius: 10px;
  color: #eee;
  font-size: 1.25rem;
  font-weight: 900;
  margin-top: 2rem;
  padding: 0.7rem;
  transition: ease-in-out 0.3s;
  width: 70%;
}

.conteiner-form button:hover {
  background: #bebebe;
  color: rgba(0, 59, 229, 1);
}

.conteiner-form button:disabled {
  background: rgba(0, 30, 121, 0.842);
  color: #d3d2d2;
}
