.conteiner-wallet {
  background: white;
  border-radius: 10px;
  left: 50%;
  position: absolute;
  z-index: 2;
  transform: translate(-50%, 0);
  width: 80%;
}

.conteiner-wallet div {
  position: relative;
}
